ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  color: white;
}


li a:hover {
  background-color: #111111;
}

.main-logo{
  padding-top: 15px;
}

.header-background {
  background-image: url("../images/c13-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
  width:100%;
  height: 100vh;
}